<!DOCTYPE html>
<html>
<head>
    <title>Invoices</title>
    <style>
        body { font-family: Arial; padding: 20px; }
        table { width: 100%; border-collapse: collapse; }
        th, td { padding: 10px; border: 1px solid #ddd; text-align: left; }
        th { background: #f5f5f5; }
        .paid { color: green; font-weight: bold; }
        .unpaid { color: red; font-weight: bold; }
        a { text-decoration: none; margin-right: 6px; }
    </style>
</head>
<body>

<h2>📄 Invoice List</h2>

<table>
    <tr>
        <th>Invoice No</th>
        <th>Customer</th>
        <th>Email</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>

    {% for invoice in invoices %}
    <tr>
        <td>{{ invoice.invoice_number }}</td>
        <td>{{ invoice.customer_name }}</td>
        <td>{{ invoice.customer_email }}</td>
        <td>₹{{ invoice.amount }}</td>
        <td class="{% if invoice.status == 'PAID' %}paid{% else %}unpaid{% endif %}">
            {{ invoice.status }}
        </td>
        <td>{{ invoice.created_at|date:"d M Y H:i" }}</td>
       <td>
    <a href="/send/{{ invoice.id }}/">Send</a>
    <a href="/download/{{ invoice.id }}/">PDF</a>

    {% if invoice.status == "UNPAID" %}
        <a href="/paid/{{ invoice.id }}/">Mark Paid</a>
    {% endif %}
</td>
    {% empty %}
    <tr>
        <td colspan="7">No invoices yet</td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/">⬅ Back to Create Invoice</a>

</body>
</html>
